/*OVERALL*/
@font-face{
  font-family: PPFraktionMono;
  src: url(fonts/PPFraktionMono-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: PPFraktionSans;
  src: url(fonts/PPFraktionSans-Light.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: PPFraktionSans;
  src: url(fonts/PPFraktionSans-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

:root {
	--myGrey: grey;
	--myBlack: rgb(20,20,20);
	--fontsizeM: 16px;
}

body {
	background-color: var(--myBlack);
}

* {
	font-family: PPFraktionSans;
	font-weight: normal;
}

*:not(button):not(textarea) {
	color: white;
	/*font-family: Papyrus!important;*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.site_title {
	position: relative;
}
.site_title p {
	margin: 0;
	font-family: PPFraktionSans;
	font-weight: bold;
	line-height: 100%;
}
.site_title > .big_title {
	font-size: 9vw;
	text-align: left; /*center;*/
}
.site_title > .about_button,
.site_title > a.back_button {
	font-size: 1vw;
	text-transform: uppercase;
	position: absolute;
	top: 0vw;
	cursor: pointer;
	mix-blend-mode: difference;
}
.site_title > .about_button {
	right: 0;
	z-index: 2;
}
.site_title > .back_button {
	left: 0;
	z-index: 0;
	text-decoration: none;
}

.prompt {
	width: 30vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	border: 2px solid var(--myGrey);
}

.prompt * {
	font-size: var(--fontsizeM);
}

.prompt > p {
	margin: 0;
}
.prompt > p:not(:first-child):not(.alert) {
	color: var(--myGrey);
}
.prompt > p.alert {
	color: red;
	display: none;
	margin-top: 20px;
}

#prompt_textarea {
	margin-top: 20px;
	background-color: var(--myBlack);
	color: white;
	width: calc(100% - 5px);
	resize: none;
}

.prompt > button {
	margin-left: 50%;
	transform: translate(-50%);
}

/*LIST.HTML*/
.table_container {
	height: 82vh;
	padding-bottom: 0;
	overflow: scroll;
}

#tblcsvdata {
	border: 0;
	width: 70%;
	float: right;
}

#tblcsvdata th, #tblcsvdata td {
	border: 0;
	border-bottom: 1px solid white;
}
#tblcsvdata th:not(.add), #tblcsvdata td:not(:last-child) {
	padding-right: 10px;
}

#tblcsvdata th {
	text-align: left;
	font-weight: bolder;
	cursor: pointer;
}
#tblcsvdata th:not(.file):not(.add):hover {
	color: red;
}
#tblcsvdata td {
}
#tblcsvdata tr {
	width: 100%;
}
#tblcsvdata tbody tr:hover * {
	cursor: pointer;
	color: red;
	fill: red;
}
#tblcsvdata svg {
	height: 20px;
	margin-top: 5px;
}

/*IMAGE*/
.preview_image {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: calc(30% - 40px);
}
.preview_image > figure {
	margin: 0;
}
.preview_image img {
	width: 100%;
}
.preview_image img.hidden {
	display: none;
}

/*ABOUT*/
#about {
	height: auto; /*10em;*/
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: .6s transform;
	padding: 10px;
	z-index: 1;
}
#about.hidden {
	transform: translate(0,-100%);
}
#about * {
	color: var(--myBlack);
}
#about .columns {
	height: 100%;
	overflow: hidden;
	display: flex;
}
#about .columns > div {
	width: 40vw;
	overflow: scroll;
}
#about .columns > div:not(:first-child) {
	margin-left: 20px;
}



/*COLLECTION*/
#myCollection {
	background-color: var(--myBlack);
	border-left: 2px solid white;
	position: absolute;
	top: 0;
	right: 0;
	width: 48%;
	height: 100%;
	transition: .6s transform;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 3;
}
#myCollection.hidden {
	transform: translate(100%,0);
}
#myCollection * {
	color: white;
}
#myCollection .collection_header {
	position: relative;
	display: flex;
	justify-content: space-between;
}
#myCollection .collection_header_title {
	display: flex;
}

#myCollection .collection_header_title #title_textarea {
	height: 1.44em;
	background-color: var(--myBlack);
	margin: auto;
	margin-left: 10px;
	font-size: 16px;
	border: 0;
	resize: none;
	font-family: PPFraktionSans;
}
#myCollection .collection_header_title #title_textarea:focus {
	outline: none!important;
	border:1px solid var(--myGrey);
}

#myCollection .collection_title {
	font-weight: bold;
}
#myCollection .collection_close {
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
#myCollection .collection_body {
	width: calc(100% - 20px);
	padding: 10px;
	height: 10em;
	border: 2px solid white;
	overflow: scroll;
}
#myCollection .collection_body .entry_group {
	display: flex;
}
#myCollection .collection_body p {
	margin: 0;
}
#myCollection .collection_body svg {
	transform: rotate(45deg);
	transform-origin: center;
	margin-left: 10px;
	cursor: pointer;
}
#myCollection .collection_body svg:hover * {
	fill: red;
}
