/*OVERALL*/
@font-face{
  font-family: PPFraktionMono;
  src: url(fonts/PPFraktionMono-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: PPFraktionSans;
  src: url(fonts/PPFraktionSans-Light.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: PPFraktionSans;
  src: url(fonts/PPFraktionSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@media print {
	* {
		font-family: PPFraktionSans!important;
		color: black!important;
		font-size: 8px!important;
		line-height: 120%!important;
	}
	.title {
		font-weight: bold!important;
		text-align: center!important;
	}
	.title:not(:first-child) {
		margin-top: 2em!important;
	}
	.url {
		font-weight: bold!important;
		text-align: center!important;
		margin-bottom: 2em!important;
	}
}

:root {
	--myGrey: grey;
	--myBlack: rgb(20,20,20);
	--myGreen: rgb(0,255,0);
	--fontsizeM: 16px;
}

body {
	background-color: var(--myBlack);
	overflow: hidden;
}

* {
	font-family: PPFraktionSans;
	font-weight: normal;
}

*:not(button):not(textarea) {
	color: white;
	/*font-family: Papyrus!important;*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a:hover {
	color: var(--myGreen)!important;
}

.back_home_button {
	position: absolute;
	top: 8;
	left: 8;
	z-index: 2;
}
.back_home_button a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.back_home_button a:hover {
	color: var(--myGreen);
}

.site_title {
	position: relative;
}
.site_title p, .site_title * {
	margin: 0;
	font-family: PPFraktionSans;
	font-weight: bold;
	line-height: 100%;
}
.site_title > .big_title {
	font-size: 6vw;
	text-align: left;

	margin-left: 29vw;
	margin-bottom: 30px;
}
.site_title > .big_title > a {
	text-decoration: none;
}
.site_title > .about_button,
.site_title > a.back_button {
	/*font-size: 1vw;*/
	text-transform: uppercase;
	position: absolute;
	top: 0vw;
	cursor: pointer;
	mix-blend-mode: difference;
}
.site_title > .about_button:hover,
.site_title > a.back_button:hover p {
	color: var(--myGreen)!important;
}
.site_title > .about_button:hover {
	mix-blend-mode: normal;
}
.site_title > .about_button {
	right: 0;
	z-index: 11;
	font-weight: normal;
}
.site_title > .back_button {
	left: 0;
	z-index: 0;
	text-decoration: none;
}

.prompt {
	width: 30vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	border: 2px solid var(--myGrey);
}

.prompt * {
	font-size: var(--fontsizeM);
}

.prompt > p {
	margin: 0;
}
.prompt > p:not(:first-child):not(.alert) {
	color: var(--myGrey);
}
.prompt > p.alert {
	color: var(--myGreen);
	display: none;
	margin-top: 20px;
}

#prompt_textarea {
	margin-top: 20px;
	background-color: var(--myBlack);
	color: white;
	width: calc(100% - 5px);
	resize: none;
}

.prompt > button {
	margin-left: 50%;
	transform: translate(-50%);
}

.prompt > .option {
	cursor: pointer;
}
.prompt > * {
	font-family: PPFraktionMono;
	text-transform: uppercase;
}
.prompt > .option:hover {
	color: white!important;
	/*background-color: var(--myGrey);*/
	color: var(--myBlack)!important;
	background-color: rgb(0,255,0);
}

/*LIST.HTML*/
.table_container {
	height: 82vh;
	padding-bottom: 0;
	overflow: scroll;
}

#tblcsvdata {
	border: 0;
	width: 70%;
	float: right;
}

#tblcsvdata th, #tblcsvdata td {
	border: 0;
	/*border-bottom: 1px solid white;*/
}
#tblcsvdata th:not(.add), #tblcsvdata td:not(:last-child) {
	padding-right: 10px;
}

#tblcsvdata th {
	text-align: left;
	font-weight: bolder;
	cursor: pointer;
}
#tblcsvdata th:not(.file):not(.add):hover {
	color: var(--myGreen);
}
#tblcsvdata td {
}
#tblcsvdata tr {
	width: 100%;
	text-transform: uppercase;
}
#tblcsvdata tr.invisible_console,
#tblcsvdata tr.invisible_year,
#tblcsvdata tr.invisible_lang,
#tblcsvdata tr.invisible_genre {
	display: none;
}
#tblcsvdata tbody tr:hover * {
	cursor: pointer;
	/*color: var(--myGreen);*/
	color: var(--myBlack);
	text-transform: uppercase;
	background-color: var(--myGreen);
	fill: var(--myGreen);
}
#tblcsvdata svg {
	height: 20px;
	margin-top: 5px;
}



/*FILTERS*/
.filters {
	position: absolute;
	left: 4px;
	top: 4px;
	width: calc(30vw - 40px);
	z-index: 2;
	margin-top: calc(6vw + 30px);
	/*display: flex;*/
}
.filters > .console,
.filters > .year,
.filters > .lang {
	width: 100%;
	border: 0;
	margin: 2px;
	padding-top: 2px!important;
	padding-bottom: 2px!important;
	position: relative;
	margin-bottom: 6px;
}
.filters > .console > select#console_select,
.filters > .year > select#year_select,
.filters > .lang > select#lang_select {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%);
  background-position:
    calc(100% - 11px) calc(.4em + 2px),
		calc(100% - 6px) calc(.4em + 2px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}
.filters > .console > select#console_select.active,
.filters > .year > select#year_select.active,
.filters > .lang > select#lang_select.active {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 11px) calc(.4em + 2px),
		calc(100% - 6px) calc(.4em + 2px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}
/*.filters > .console::after {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='960px' height='560px' viewBox='0 0 960 560' enable-background='new 0 0 960 560' xml:space='preserve'%3E%3Cg id='Rounded_Rectangle_33_copy_4_1_'%3E%3Cpath d='M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z'/%3E%3C/g%3E%3C/svg%3E%0A");
	font-size: 1vw;
	display: inline-block;
	position: absolute;
	color: black;
	font-weight: bold;
	margin-left: -1.6vw;
	pointer-events: none;
}*/
.filters > .genres {
	/*display: flex;
	flex-direction: column;
	width: 30%;*/
}
.filters > .genres > button,
.filters > .console > select,
.filters > .year > select,
.filters > .lang > select {
	color: white;
	background-color: var(--myBlack);
	border: 1px solid white;
	font-weight: bold;
	border-radius: 0;
	cursor: pointer;
	appearance: button;
	text-transform: uppercase;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1vw;
}
.filters > .console > select,
.filters > .year > select,
.filters > .lang > select {
	width: 60%;
}
.filters > .console > select:hover,
.filters > .year > select:hover,
.filters > .lang > select:hover,
.filters > .genres > button:hover {
	background-color: var(--myGreen);
	color: white;
}
.filters > .console > select.active,
.filters > .year > select.active,
.filters > .lang > select.active,
.filters > .genres > button.active {
	background-color: var(--myGreen);
	color: black;
}
.filters > .genres > button.active:hover {
	color: white;
}




/*IMAGE*/
.preview_image {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: calc(30% - 40px);
}
.preview_image > figure {
	margin: 0;
	/**/
	width: 20vw;
	height: 20vw;
	overflow: hidden;
	position: relative;
}
.preview_image img {
	/*width: 100%;
	*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.preview_image img.hidden {
	display: none;
}

/*ABOUT*/
#about {
	height: auto; /*10em;*/
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: .6s transform;
	padding: 10px;
	z-index: 10;
}
#about.hidden {
	transform: translate(0,-100%);
}
#about * {
	color: var(--myBlack);
}
#about .columns {
	height: 100%;
	overflow: hidden;
	display: flex;
}
#about .columns > div {
	width: 40vw;
	overflow: scroll;
}
#about .columns > div:not(:first-child) {
	margin-left: 20px;
}



/*COLLECTION*/
#myCollection {
	background-color: var(--myBlack);
	border-left: 2px solid white;
	position: absolute;
	top: 0;
	right: 0;
	width: 48%;
	height: calc(100% - 20px);
	transition: .6s transform;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 15;
}
#myCollection.hidden {
	transform: translate(100%,0);
}
#myCollection * {
	color: white;
}
#myCollection .collection_header {
	position: relative;
	display: flex;
	justify-content: space-between;
}
#myCollection .collection_header_title {
	display: flex;
}

#myCollection .collection_header_title #title_textarea {
	height: 1.44em;
	background-color: var(--myBlack);
	margin: auto;
	margin-left: 10px;
	font-size: 16px;
	border: 0;
	resize: none;
	font-family: PPFraktionSans;
}
#myCollection .collection_header_title #title_textarea:focus {
	outline: none!important;
	border:1px solid var(--myGrey);
}

#myCollection .collection_title {
	font-weight: bold;
}
#myCollection .collection_close {
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
#myCollection .collection_body {
	width: calc(100% - 20px);
	padding: 10px;
	height: 10em;
	border: 2px solid white;
	overflow: scroll;
}
#myCollection .collection_body .entry_group {
	display: flex;
}
#myCollection .collection_body p {
	margin: 0;
}
#myCollection .collection_body svg {
	transform: rotate(45deg);
	transform-origin: center;
	margin-left: 10px;
	cursor: pointer;
}
#myCollection .collection_body svg:hover * {
	fill: var(--myGreen);
}
#myCollection .download_button {
	position: relative;
	top: 10px;
	font-weight: bold;
	/*text-decoration: underline;*/
	text-transform: uppercase;
	cursor: pointer;
}

#myCollection .collection_close:hover,
#myCollection .download_button:hover {
	color: var(--myGreen);
}



/*MORE ON THIS*/
/*COLLECTION*/
#moreOnThis {
	background-color: var(--myBlack);
	border-right: 2px solid white;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(30% - 60px);
	height: calc(100% - 20px);
	transition: .6s transform;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 3;
	overflow-y: scroll;
}
#moreOnThis.hidden {
	transform: translate(-100%,0);
}
#moreOnThis * {
	color: white;
}
#moreOnThis .collection_header {
	position: relative;
	display: flex;
	justify-content: space-between;
}
#moreOnThis .collection_header_title {
	display: flex;
}

#moreOnThis .collection_header_title #title_textarea {
	height: 1.44em;
	background-color: var(--myBlack);
	margin: auto;
	margin-left: 10px;
	font-size: 16px;
	border: 0;
	resize: none;
	font-family: PPFraktionSans;
}
#moreOnThis .collection_header_title #title_textarea:focus {
	outline: none!important;
	border:1px solid var(--myGrey);
}

#moreOnThis .collection_title {
	font-weight: normal;
}
#moreOnThis .collection_title span {
	font-weight: bold;
	color: var(--myGreen);
}
#moreOnThis .collection_close {
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
#moreOnThis .collection_body {
	width: calc(100% - 20px);
	padding: 10px;
	height: 10em;
	border: 2px solid white;
	overflow: scroll;
}
#moreOnThis .collection_body .entry_group {
	display: flex;
}
#moreOnThis .collection_body p {
	margin: 0;
}
#moreOnThis .collection_body svg {
	transform: rotate(45deg);
	transform-origin: center;
	margin-left: 10px;
	cursor: pointer;
}
#moreOnThis .collection_body svg:hover * {
	fill: var(--myGreen);
}
#moreOnThis .download_button {
	position: relative;
	top: 10px;
	font-weight: bold;
	/*text-decoration: underline;*/
	text-transform: uppercase;
	cursor: pointer;
}

#moreOnThis .collection_close:hover,
#moreOnThis .download_button:hover {
	color: var(--myGreen);
}